<mat-form-field class="example-full-width" style="width: 100%;">
  <mat-label>Message</mat-label>
  <input matInput value={{this.message}}>
</mat-form-field>

<div style="margin-bottom: 10px;">
  <button mat-raised-button color="primary" (click)="parseClick($event)">Parse</button>
</div>

<mat-card>
  <mat-card-content>
    <mat-list>
      <div *ngFor="let entry of fieldsMap | keyvalue">
        <mat-list-item>
          {{entry.key}}: {{entry.value}}
        </mat-list-item>
        <mat-divider></mat-divider>
      </div>
    </mat-list>
  </mat-card-content>
</mat-card>



